@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.round-animation {
  border-radius: 5px;
}

.round-animation:hover {
  animation: round-it 1s ease-in-out 1;
}

@keyframes round-it {
  0% {
    border-radius: 10px;
  }
  100% {
    border-radius: 200px;
  }
}

body {
  background-color: #0f172a;
}

.header {
  clip-path: ellipse(70% 90% at 50% 0%);
}

.preview-button {
  background-color: #fee140;
  background-image: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
}
